<!DOCTYPE html>
<html>
<head>
    <title>Balance Sheet</title>
</head>
<body>
    <h1>Balance Sheet</h1>
    <table border="1">
        <tr>
            <th>User</th>
            <th>Balance</th>
        </tr>
        {% for user_id, balance in user_balances.items() %}
        <tr>
            <td>{{ users[user_id]['name'] }}</td>
            <td>{{ balance }} USD</td>
        </tr>
        {% endfor %}
    </table>

    <a href="/download_balance_sheet">Download Balance Sheet</a>
</body>
</html>
