<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Actions</th>
        </tr>
        {% for id, user in users.items() %}
        <tr>
            <td>{{ id }}</td>
            <td>{{ user['name'] }}</td>
            <td>{{ user['email'] }}</td>
            <td>{{ user['mobile'] }}</td>
            <td>
                <a href="/edit/{{ id }}">Edit</a>
                <a href="/delete/{{ id }}" onclick="return confirm('Are you sure?');">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/add">Add New User</a>
</body>
</html>
